# Assignment -2

## Data Types and Structures Questions

### Q1. What are data structures, and why are they important?

#### A1. Data structure is a way of organizing data so that it can be manipulated and accessed easily.

#### They are important because:
#### 1. They help in accessing the data.
#### 2. They help to rectify our mistakes by allowing manipulation such as adding, removing,etc.
#### 3. They help to concatenate two data structures into one.
#### 4. These data structures can contain heterogenous and homogeneous datas as well.

### Q2. Explain the difference between mutable and immutable data types with examples?

#### A2. Mutable Data types are the data types which can be manipulated. Like, the data values can be added, removed, replaced by some other value,etc. Example: List data type is mutable.

#### While, immuatble data types are the data types which cannot be modified once created. That means, the data values cannot be edited like adding, replacing,etc. For example: set, tuple are immuatble data types.

### Q3.  What are the main differences between lists and tuples in Python?

#### Difference between:
#### Lists: This data type can store heterogeneous data. It is an ordered collection of elements that can be of any data type.It is mutable data types that is, the list elements can be modified even after it is created.
#### Example: 
#### lis=[1,2,3,"Ajay",3+6j]
####          lis[0]=4
####          lis 
#### It gives output: [4,2,3,"Ajay",3+6j]

#### Tuples: This data type can store heterogeneous data. It is an ordered collection of elements that can be of any data type. It is immutable data type that is it cannot be modified once created.So, it is useful to store only that data which does not need any modification in future.
#### Example: 
#### tup=(1,2,3,"Ajay",2+5j)
####          tup[0]=4
####          tup 
#### It gives an error as tuple is immutable.

### Q4. Describe how dictionaries store data.

#### A4. Dictionaries in Python are a built-in data structure that store data in key-value pairs. They are highly efficient for operations like searching, inserting, and deleting due to their underlying implementation using hashing.
#### Dictionaries are mutable, meaning their contents can be changed after creation. Keys in a dictionary must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type and may be duplicated. 
#### Syntax: dict={key:value}
#### Example:
#### dict={"name":"Ananya","Course":"Data Science"}

### Q5. Why might you use a set instead of a list in Python?

#### A5. Sets are the unordered collection of unique elements. It is immutable data type. 
#### We use set instead of list when we require the collection of unique elements only, no duplicate values are needed.
#### Example: We want to make a grocery items list for shopping. Your mother asks you and your brother to make the list as per your needs. So, to add the list without copying the same item again, we use sets instead of lists.

### Q6. What is a string in Python, and how is it different from a list?

#### A6. A string in Python is a sequence of characters enclosed in either single quotes ('), double quotes ("), or triple quotes (''' or """). Strings are used to represent text data, such as words, sentences, or any combination of characters.

#### String differs from list in the following manner:
#### 1. String is immutable data type while list is mutable.
#### 2. String stores only the collection of characters while lists can store any data value.
#### 3. String are enclosed in quotes while lists are enclosed in [].

### Q7. How do tuples ensure data integrity in Python?

#### A7. Tuples in Python help ensure data integrity primarily because they are immutable. This immutability provides several benefits that contribute to maintaining the consistency and reliability of data:
#### 1. It can used as the key of the dictionary which ensure that the data remains unaltered.
#### 2. Once a tuple is created, its elements cannot be modified, added, or removed. This ensures that the data remains consistent throughout the program's execution.

### Q8. What is a hash table, and how does it relate to dictionaries in Python?

#### A8. A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array. The index functions as a storage location for the matching value. In simple words, it maps the keys with the value. 

#### Hashing is mainly used to implement a set of distinct items (only keys) and dictionaries (key value pairs). It helps to map keys of the dictionary to the corresponding values.

### Q9. Can lists contain different data types in Python?

#### Yes, lists can store different data types. It can conatin heterogenous data values.
#### For example: list= [1,2,[1,2,3],(3,4,5),"string",3+7j] is one such example.

### Q10. Explain why strings are immutable in Python?

#### A10.Strings in Python are immutable, meaning once a string is created, it cannot be changed. This design choice is intentional and offers several advantages:

#### 1. Reduce redundancy: by saving only one file out of the files with same name.
#### 2. Consistency: Immutable objects, like strings, can be used as keys in dictionaries or elements in sets because their hash value remains constant. 
#### 3. Efficient: Operations like slicing or concatenation create new strings rather than modifying the original.

### Q11. What advantages do dictionaries offer over lists for certain tasks?

#### A11. Dictionaries offer advantages over lists in the tasks where it is more efficient to mention the values under the same key, for easy accessibility.
#### For example: In a hotel menu, we need to write the dishes such as sandwich, poha,etc., under the key as breakfast. Similarly, we can make other keys as lunch and dinner with their respective dish values, in a single dictionary. This helps us to save our time and memory by making a dictionary for the menu. Instead of making three separate lists for breakfast, lunch, dinner which increases the memory space complexity in accessibility. So, dictionary can save time and improve accessiblity in certain cases as above instead of lists.

### Q12. Describe a scenario where using a tuple would be preferable over a list?

#### A12. A scenario where tuple is more preferable than a list is :
#### When we want our data to remain fixed throughout the program execution, we use tuple because of its immutablity.Tuple is more memory efficient as it does not require extra space for modifications.

#### For example: I want the data of my expenditure in a year to remain intact, so that I get to know where I am spending more.
#### exp={2300,4500,6700,1200,...,8900}

### Q13.  How do sets handle duplicate values in Python?

#### A13.In Python, sets automatically eliminate duplicate values. A set is an unordered collection of unique elements, meaning it does not allow duplicates. If you try to add duplicate values to a set, Python will only keep one instance of each unique value. 
#### So, we can handle duplicate values by typecasting the data type to sets.

### Q14.  How does the “in” keyword work differently for lists and dictionaries?

#### A14. When used with a list, the "in" keyword checks if a given value exists as an element of the list. It performs a linear search, meaning it iterates through the list until it finds the value or reaches the end.
#### Example:
#### li=[1,2,3,4]
#### print(1 in li)
#### It gives True as 1 is in the list li.

#### For dictionaries, the "in" keyword checks for the presence of a key, not a value. If you want to check for a value, you need to use the .values() method explicitly.
#### Example:
#### my_dict = {'a': 1, 'b': 2, 'c': 3}
#### print('a' in my_dict) # Output: True (checks for key)
#### print(1 in my_dict) # Output: False (does not check values)

### Q15. Can you modify the elements of a tuple? Explain why or why not?

#### A15. Tuples in Python are immutable, meaning their elements cannot be changed directly. However, you can create a new tuple with the desired changes.
#### Example: 
#### Original tuple
#### t = ('apple', 'banana', 'cherry')

#### lst = list(t) #Convert to list to modify
#### lst[1] = 'kiwi'

#### t = tuple(lst) #converting list to tuple
#### print(t) # Output: ('apple', 'kiwi', 'cherry')

### Q16.  What is a nested dictionary, and give an example of its use case?

#### A nested dictionary in Python is a dictionary inside another dictionary. This allows you to store complex data structures in a single dictionary. Each key in the outer dictionary can map to another dictionary, enabling hierarchical data storage.

#### Example: 
#### people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
#### print(people)

### Q17. Describe the time complexity of accessing elements in a dictionary?

#### A17. Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.
#### The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

#### Example: # Create a dictionary
#### dict = {'a': 1, 'b': 2, 'c': 3}
#### val = dict['b'] # Access value by key
#### print(val)

### Q18. In what situations are lists preferred over dictionaries?

#### A18. Lists are preferred over dictionaries in the situation where we need an Ordered Data with duplicate values and quick access to elements by indexing. It is used when we need to perform operations like slicing, sorting,etc.
#### Example: In a class of 30 students, we need a data list of each student. But there are two students with same name, so here, we cannot use dictionary as key must be unique and it will treat both the students as one. So, here we can use list data type to store datas of each students with repeating names.

### Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

#### A19. A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

#### So, we cannot call the value using indexing. We can access values using key only. As each time dictionary would shuffle the order of the {key:value} pairs. It does affect the data retrieval thorugh indexing. Everytime, we need to use key for accessing the corresponding value.

### Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.

#### A20. Lists allow random access to elements using indices, which start from 0. Lists are mutable, meaning you can modify their elements after creation. You can retrieve data using indexing. For example:
#### myList=[5,9,8]
#### myList[0] # gives 5 as output as 0th indexed element of the list is 5

####  Dictionaries allow random access to values using keys, which must be of an immutable data type (e.g., integers, strings, tuples). Dictionaries are also mutable, allowing you to add, modify, or remove key-value pairs.For example:
#### myDict = {'Name': 'Geeta', 1: [1, 2, 3, 4]}
#### myDict['Name']#gives 'Geeta' as an ouput as Geeta corresponds to the key 'Name'.

## Practice Questions

### Q1. Write a code to create a string with your name and print it.

In [68]:
name="Ananya"
name

'Ananya'

### Q2. Write a code to find the length of the string "Hello World"

In [69]:
st="hello World"
len(st)#gives length of the string

11

### Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [70]:
s="Python Programming"
s[:3]#slice the first 3 characters from the string

'Pyt'

### Q4. Write a code to convert the string "hello" to uppercase.

In [71]:
string="hello"
string.upper()#in uppercase

'HELLO'

### Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [72]:
st="I like apple"
st.replace("apple","orange")#replace apple with orange

'I like orange'

### Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [73]:
l=[]
for i in range(1,6):
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [74]:
li=[1,2,3,4]
li.append(10) #append 10 in the list
li

[1, 2, 3, 4, 10]

### Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [75]:
li=[1,2,3,4,5]
li.remove(3)#removes 3 from the list
li

[1, 2, 4, 5]

### Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [76]:
li=['a','b','c','d']
li[1]#access second element

'b'

### Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [77]:
li=[10,20,30,40,50]
li.reverse()#reverse the list
li

[50, 40, 30, 20, 10]

### Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [78]:
tup=(100,200,300)
print(tup)
type(tup)

(100, 200, 300)

tuple

### Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [79]:
tup=('red','green','blue','yellow')
tup[1:]#giving second to last element of the tuple

('green', 'blue', 'yellow')

### Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [80]:
tup=(10,20,5,15)
min(tup)#to give minimum number of the tuple

5

### Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [81]:
tup=('dog','cat','rabbit')
tup.index('cat')#to find the index of element cat in the tuple

1

### Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [82]:
tup=('apple','orange','banana')
'kiwi' in tup #it gives false as kiwi is not in the tuple

False

### Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [83]:
s={'a','b','c'}
print(s)
type(s)

{'b', 'c', 'a'}

set

### Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [84]:
s={1,2,3,4,5}
s.clear()
s#it gives empty set as all the elements are cleared

set()

### Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [85]:
s={1,2,3,4}
s.remove(4)#it removes the element 4 from the set
s

{1, 2, 3}

### Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [98]:
s1={1,2,3}
s2={3,4,5}
s1|s2#union of two sets

{1, 2, 3, 4, 5}

### Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [87]:
s1={1,2,3}
s2={2,3,4}
s1&s2#intersection of two sets

{2, 3}

### Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [88]:
dic={"name":"Ananya","age":24,"city":"Mumbai"}
print(dic)
type(dic)

{'name': 'Ananya', 'age': 24, 'city': 'Mumbai'}

dict

### Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [89]:
dic={"name":"John","age":25}
dic["country"]="USA"#adding new key-value pair
dic

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [90]:
dic={"name":"Alice","age":30}
dic["name"]#to access value associated with the key

'Alice'

### Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [91]:
dic= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic["age"]#to remove the key "age"
dic

{'name': 'Bob', 'city': 'New York'}

### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [92]:
# Define the dictionary
data = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in data:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [93]:
my_list=[1,2,3,4]
my_tuple={1,2,3,4}
my_dict={'name':'Ananya','course':'Data science'}

print(my_list)#list
print(my_tuple)#tuple
print(my_dict)#dictionary

[1, 2, 3, 4]
{1, 2, 3, 4}
{'name': 'Ananya', 'course': 'Data science'}

### Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [94]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [3, 28, 53, 89, 91]

### Q28. Write a code to create a list with strings and print the element at the third index.

In [95]:
my_list=["Apple","Banana","Orange","Guava","Grapes"]
my_list[3]#to get the third indexed elements

'Guava'

### Q29. Write a code to combine two dictionaries into one and print the result.

In [96]:
dict1={'name':'Ananya'}
dict2={'age':23}
dict1|dict2#combining two dictionaries

{'name': 'Ananya', 'age': 23}

### Q30.  Write a code to convert a list of strings into a set.

In [97]:
my_list=["Apple","Banana","Orange","Guava","Grapes"]
type(my_list)

#converting list to set
my_set=set(my_list)
print(my_set)

{'Orange', 'Apple', 'Banana', 'Grapes', 'Guava'}